@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
:root {
  --basic-color: #1070a9;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Amiri', serif;
  overflow: hidden;
  background-color: #C0C0C0;
}
.container {
  display: flex;
  flex-direction: row;
}
.container h1 {
  font-size: 60px;
  text-align: center;
  color: var(--basic-color);
}
.repo-container {
  width: 50%;
  max-height: flex;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow: scroll;
}

.repo-description {
  font-weight: 600;
  font-style: bold;
  color: var(--basic-color);
}
.list-head {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  color: #1070a9;
}
.footer {
  font-size: 15px;
  font-weight: 600;
  color: #C0C0C0
}
.list {
  list-style: circle;
}
.delete-buttons {
  border: solid;
  border-color: #C0C0C0;
  border-radius: 20px;
  color: #fff;
  padding: 0px 5px;
  text-align: center;
  position: 'center';
  font-size: 16px;
  font-weight: 600;
  margin: auto;
  cursor: pointer;
  background-color: #1070a9;
}
